<!-- inhert template from base.html -->
{% extends 'travel_wishlist/base.html' %}

{% block content %}

<h2>Places you have visited</h2>

<!-- loop through and display a place or any places visited if there are any -->
{% if visited %}

<ul>
    {% for place in visited %}
    <li>
        <a href="{% url 'place_details' place.pk %}">{{ place.name }}</a>
    </li>

    {% endfor %}
</ul>

<!-- If there are no place(s) visited, display p tag -->
{% else %}

<p>You have not visited any places yet</p>

{% endif %}

{% endblock %}